{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }

        #huisregels {
            width: 100%;
            text-align: center;
            margin-top: 3%;
        }

        #huisregels h1 {
            width: 100%;
            border-bottom: 4px solid #f9eb5d;
            line-height: 0.1em;
            margin: 10px 0 20px;
            font-weight: bold;
        }

        h1 span {
            background: #fff;
            padding: 0 10px;
        }

        .bold-text {
            font-weight: bold;
            font-size: 15px;
        }

        .normal-text {
            font-size: 15px;
        }
    </style>

    <div id="huisregels" class="container">
        <h1><span>HUISREGELS</span></h1>
    </div>

    <p style="text-align: center; font-size: 18px">
        <br>
        Zoals elk feest heeft ook DNL enkele regels om het feest voor iedereen gezellig te houden. Hou je je hieraan,
        dan is er niks aan de hand. Ben
        <br>
        je echter van mening dat de regels voor jou niet gelden, dan kun je erop rekenen dat je hierop wordt
        aangesproken, of zelfs, dat het feest
        <br>
        voor jou is afgelopen.
    </p>

    <div style="width: 95%; margin: auto; padding-bottom: 5%">
        <p class="bold-text">
            1) We hebben sinds jaar en dag een aantal mensen rondlopen die als doel hebben het feest voor iedereen
            veilig en plezierig te laten verlopen. Zij bepalen dus ook wat wél en niet kan op die
            avond. Hou je aan hun aanwijzingen, ze zijn er ook voor jouw veiligheid. Zij hebben dus altijd het laatste
            woord
        </p>

        <p class="normal-text">
            2) De organisatie en Scouting Impeesa zijn niet aansprakelijk voor verlies of diefstal van- of schade aan persoonlijke bezittingen. Ons advies: neem zo min mogelijk mee. We hebben een
            garderobe, en letten zo goed mogelijk op, maar garanderen niets.
        </p>

        <p class="bold-text">
            3) De organisatie en Scouting Impeesa aanvaard geen enkele verantwoordelijk danwel aansprakelijkheid voor (schade tengevolge van) het gedrag van de bezoekers van DNL. Bezoekers zijn
            te allen tijde persoonlijk verantwoordelijk en aansprakelijk. Wel stelt de organisatie en Scouting Impeesa alles binnen haar macht in het werk om ongewenst gedrag te voorkomen.
        </p>

        <p class="normal-text">
            4) Drugs, in welke vorm of mate dan ook zijn absoluut verboden. Zowel het nuttigen van drugs voorafgaand aan het feest, buiten het terrein of gedurende het feest binnen hoort niet bij Scout
            ing en wordt dus niet getolereerd, en betekend voor jou een vroegtijdig einde van het feest.
        </p>

        <p class="bold-text">
            5) Vandalisme wordt altijd op de veroorzaker van de schade verhaald. Eventueel zal aangifte van vernieling worden gedaan.
        </p>

        <p class="normal-text">
            6) Het zelf meenemen van drank is ten strengste verboden. Evenals vooraf indrinken. Kom je aangeschoten of dronken aan, of bestaat hiertoe een sterk vermoeden, dan zullen we je direct de
            toegang weigeren.
        </p>

        <p class="bold-text">
            7) DNL is niet toegankelijk voor jeugdleden jonger dan 16, tenzij hier voorafgaand toestemming voor is verleend en hier aantoonbaar afspraken tussen het bestuur van Impeesa en de leiding
            van het betreffende jeugdlid over zijn gemaakt. Bij binnenkomst zullen we om je ID vragen. Zonder geldige ID krijg je geen toegang tot het feest. Wordt je betrapt met een fake-id, wordt je
            ongeacht je leeftijd de toegang tot het feest ontzegt.
        </p>

        <p class="normal-text">
            8) Als rechtgeaarde Scouts houden wij ons natuurlijk aan de wet. Dus ook aan de Drank en Horecawet. Daarnaast is op dit feest het Bestuursreglement Alchol van Scouting Impeesa Zoeter
            meer van toepassing evenals de algemene huisregels van Scouting Impeesa Zoetermeer.
        </p>

        <p class="bold-text">
            9) Wij schenken géén alcohol aan personen jonger dan 18 jaar.
        </p>

        <p class="normal-text">
            10) Geen feest zonder drank. Maar hou wel de juiste maat. Als je jezelf niet in de hand hebt, zullen wij je helaas de verdere toegang tot het feest moeten ontzeggen. Onze barmedewerkers zijn
            grotendeels in het bezit van een IVA (Instructie Verantwoord Alcoholschenken) certificaat. Ook beschikken we over mensen met een Diploma Sociale Hygiene. Zij zien er zoveel mogelijk op toe
            dat het alcoholgebruik binnen de perken blijft. Wanneer zij constateren dat jij onverantwoord veel hebt gedronken, zullen zij weigeren je verder nog alcohol te schenken.
        </p>

        <p class="bold-text">
            11) Binnen geldt een strikt rookverbod. Er zal een afgesloten rookplek worden ingericht buiten, want we we willen ook niet dat iedereen zomaar naar buiten gaat i.v.m. overlast voor onze
            buren. Als je wilt roken kan dat op de rookplek buiten zolang je anderen geen overlast bezorgd.
        </p>

        <p class="normal-text">
            12) Buiten het gebouw dien je stil te zijn. Willen we dit feest kunnen blijven organiseren dan dienen we respect voor onze buren te hebben. Veroorzaak je toch overlast dan zijn passende
            maatregelen het gevolg.
        </p>

        <p class="bold-text">
            13) Er mag geen drank mee naar buiten worden genomen. Toch buiten met drank? Dan mag je daar het feest voortzetten, en zullen we je niet meer binnenlaten.
        </p>

        <p class="normal-text">
            14) Gooien met bier of andere dranken is verboden.
        </p>

        <p class="bold-text">
            15) Agressie, intimidatie of geweld in welke vorm dan ook, past niet binnen Scouting en wordt ook op DNL niet getolereerd. Wees je bewust van je omgeving en laten we er met zijn allen een
            gezellig feest van maken.
        </p>

        <p class="normal-text">
            16) Auto’s dienen buiten het terrein langs de weg geparkeerd te worden op de gemarkeerde plaatsen.
        </p>

        <p class="bold-text">
            17) Fietsen dienen in de daarvoor ingerichte fietstenstalling geparkeerd te worden.
        </p>

        <p class="normal-text">
            18) De nooduitgangen in de lokalen waar het feest wordt gehouden mogen, met uitzondering van noodgevallen natuurlijk, niet geopend worden, evenals ramen en overige deuren in het
            gebouw.
        </p>

        <p class="bold-text">
            19) De eerste etage van het gebouw is niet toegankelijk voor bezoekers van het feest.
        </p>

        <p class="normal-text">
            20) DNL is een Scoutingfeest, uitsluitend bedoeld voor Scouts en dan met name gericht op Scouts uit de Regio Delfland. Het is een besloten feest, niet openbaar of toegankelijk voor derden,
            met uitzondering van introducees van een lid van Scouting Nederland. Scouting Impeesa Zoetermeer behoudt zich het recht voor om zonder verdere opgaaf van redenen bezoekers te weren
            indien de organisatie hiertoe aanleiding ziet.
        </p>

        <p class="bold-text">
            21) Bij onverhoopte voortijdige beëindiging van DNL door onvoorziene oorzaken, overmacht, op last van overheidsinstanties en dergelijke, wordt geen restitutie van de entreeprijs verleend.
        </p>

        <p class="normal-text">
            22) Wanneer je een kaartje hebt gereserveerd of aan de deur koopt bevestig je tevens dat je van bovenstaande huisregels kennis hebt genomen en deze te begrijpen en respecteren.
        </p>
    </div>
{% endblock %}