{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }

        .hero-image {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{{ asset('images/Unknown.png') }}");
            height: 75%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .hero-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }

        .hero-text button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 10px 25px;
            color: black;
            background-color: #ddd;
            text-align: center;
            cursor: pointer;
        }

        #laaste {
            width: 100%;
            text-align: center;
            margin-top: 3%;
        }

        #laaste h1 {
            width: 100%;
            border-bottom: 4px solid #1A5184;
            line-height: 0.1em;
            margin: 10px 0 20px;
            font-weight: bold;
        }

        h1 span {
            background: #fff;
            padding: 0 10px;
        }
    </style>

    <div class="hero-image">
        <div class="hero-text">
{#            <button>Reserveer nu!</button>#}
        </div>
    </div>

    <div id="laaste" class="container">
        <h1><span>LAASTE NIEUWS</span></h1>
    </div>
{% endblock %}
